<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Vue 3 Basics</title>
  </head>
  <body>
    <style>
      input {
        margin: 10px;
        display: block;
      }
    </style>
    <div id="app">
      <login-form />
      <input @keyup.enter="greet(greeting + '!!!!!!')" v-model="greeting" />

      <hr />
      <button @click="toggleBox">Show Box</button>

      <div v-if="isVisible" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue 3!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox: function () {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
      });
      app.component("custom-input", {
        template: `
        <label>
          {{label}}
          <input type='text">
          </label>
          `,
        props: ["label"],
      });
      app.component("login-form", {
        template: ` <form @submit.prevent='handleSubmit'>
          <h1>{{title}}</h1>
          <custom-input type="email" />
          <custom-input type="password" v-bind:label="emailLabel" />
          <button>Log In</button>

          </form>`,
        components: ["custom-input"],
        data() {
          return {
            title: "Login Form",
            email: "",
            password: "",
            emailLabel: "Email",
            passwordLabel: "Password",
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email + this.password);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
